/*
 * Assignment 02
 * CSS FILE
 */
.menu {
  margin: auto;
  display: flex;
  background-color: rgb(12, 12, 12);
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
 border-radius: 0.5rem;

}


.menu img {
  width: 150px;
}


.menu a {
font-size: 20px;
text-decoration: none;
color: rgb(12, 12, 12);
font-weight: 600;
padding: 5px;
background-color: rgb(44, 175, 83);
border-radius: 0.3rem;
}

.menu a:hover {
text-decoration: underline;
color: rgb(61, 231, 112);
}


h1 {
  color: rgb(156, 153, 127);
  font-size: 30px;
  
}
h2{
  color: rgb(44, 168, 81);
 
  text-transform: capitalize;
}
h3 {
  color: rgb(12, 12, 12);
  text-shadow: 0 0 5px rgb(61, 231, 112);
  text-transform: capitalize;
}

h4 {
  color: rgb(0, 0, 0);
  
  border-radius: 10px;
  background-color: rgb(44, 175, 83);
  text-transform: capitalize;
  padding: 3px;
  text-align: center;
}


body {
  background-color: rgb(20, 19, 19);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  line-height: 1.6;
}

img {
  
  display: block;
  margin: 0 auto;
  transition-duration: 0.8s;
}

img:hover {
  box-shadow: 20px 20px 50px rgb(28, 66, 39);
  margin-left: auto;
  margin-right: auto;
}

p {
text-align: center;
color: rgb(76, 158, 87);
border: solid rgb(38, 141, 69);
border-radius: 0.5rem;
padding: 1rem;
background-color: rgb(12, 12, 12);

}

table, th {
border: 4px solid rgb(38, 141, 69);

border-collapse: collapse;
margin-left: auto;
margin-right: auto;
background-color: rgb(12, 12, 12);
}

th, td {
color: rgb(44, 175, 83);
}

form {
border: 2px solid rgb(38, 141, 69);
margin: auto;
border-radius: 10px;
border-collapse: collapse;
margin-left: auto;
margin-right: auto;
width: 60%;
padding: 10px;
background-color: rgba(13, 12, 17, 0.911);
color: rgb(38, 141, 69);
}

fieldset img {

display: block;
margin: 0 auto;
width: 40%;
border: 2px solid rgb(38, 141, 69);
border-radius: 10px;
border-collapse: collapse;
margin-left: auto;
margin-right: auto;


}

button {
width: 100%;
border: solid rgb(44, 168, 81);
border-radius: 10px;
background-color: rgba(13, 12, 17, 0.911);
color: rgb(44, 175, 83);
padding: 10px;
transition-duration: 0.8s;
}

button:hover {
background-color: rgb(44, 175, 83);
color: rgba(13, 12, 17, 0.911);
}

input[type=text], select, textarea, input[type=email]
{
background-color: black;
border: 2px solid rgb(38, 141, 69);
border-radius: 1rem;
padding: 4px;
color: rgb(61, 231, 112);
}

input[type=radio] {
background-color: black;
border: 2px solid rgb(38, 141, 69);
border-radius: 1rem;
padding: 4px;
color: rgb(61, 231, 112);
}

li {
color: rgb(12, 12, 12);
background-color: rgb(44, 175, 83);
margin: 10px;
padding: 3rem;
border: solid rgb(38, 141, 69);
border-radius: 10px;
text-align: center;

}

ol {
color: rgb(61, 231, 112);
background-color: rgb(12, 12, 12);
margin: 10px;
padding: 2rem;
border: solid rgb(38, 141, 69);
border-radius: 10px;
box-shadow: 20px 20px 50px rgb(18, 43, 25);
list-style: none;
}

.box p{
background-color: rgb(12, 12, 12);
border: solid rgb(44, 175, 83);
border-radius: 2rem;
padding: 2rem;
margin-left: 50px;
margin-right: 50px;
}

/* makes my images side by side - used an online tutorial https://www.w3schools.com/howto/howto_css_images_side_by_side.asp*/
.packs {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 1rem;
  background-color: rgb(12, 12, 12);
  border: solid rgb(38, 141, 69);
  padding: 0.5rem;
}

.Tactical img {
border: 0.5rem solid rgb(38, 141, 69);
width: 90%;
}


.armortable table, tr, th, td {

padding: 10px;
text-align: center;
}

.toc li {
list-style-type: none;
padding: 2px;
overflow: hidden;
background-color: rgb(12, 12, 12);
border: solid rgb(38, 141, 69);
border-radius: 10px;
text-align: left;
color: rgb(44, 168, 81);
}

.toc ol{
list-style-type: none;
margin-right: 70%;
padding: 2px;
background-color: rgba(12, 12, 12, 0.795);
border: solid rgb(38, 141, 69);
border-radius: 10px;
text-align: left;
color: rgb(44, 168, 81);
}

.toc a {
text-decoration: none;
color: rgb(44, 168, 81);
}

.toc a:hover {
text-decoration: underline;
color: rgb(61, 231, 112);
}

.toc {
box-shadow: none;
}


.hero {
  display: flex;
  border-radius: 1rem;
  background-color: rgb(12, 12, 12);
  border: solid rgb(38, 141, 69);
  align-items: center;
}

.hero p {
  text-align: center;
  border: none;
  font-size: 20px;
  background-color: rgba(12, 12, 12, 0);
}

.hero h2 {
text-align: center;
}

.hero img {
border-radius: 1rem 0 0 1rem;
flex-direction: row;
}

.item-2 .item-3 {
  flex-direction: column;
}

.angy {
  display: flex;
  flex-direction: row;
 
  
}

.angy img {
border: solid rgb(38, 141, 69);
width: 30%;

}



.maps {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.maps img {
  border-radius: 0.5rem 0.5rem 0 0;
}

.maps p {
  text-align: center;
  border: none;
  font-size: 20px;
  color: rgb(12, 12, 12);
  background-color: rgb(38, 141, 69);
  padding: 0.5rem;
  margin: 0;
  border-radius: 0 0 0.5rem 0.5rem;
}

.behave {
display: flex;
flex-direction: row;
background-color: rgb(12, 12, 12);
border: solid rgb(38, 141, 69);
border-radius: 1rem;
}

.behave p {
background-color: rgba(0, 0, 0, 0);
border: none;

}

.behave img {
width: 600px;
  border-radius: 1rem;
}

.ending img {
  box-shadow: 20px 20px 50px rgba(28, 66, 39, 0);
}

.ending a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: rgb(44, 168, 81);
padding: 3px;
transition-duration: 1s;

 
}

.ending a:hover {
  text-decoration: underline;
  color: rgb(61, 231, 112);
  
}